h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

h4 {

}

label, span, p
{
    font-size: 0.775em;

}

@media (min-width: 768px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }
    label, span, p
    {
        font-size: 0.875em;

    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 1.5em;
    }
    label, span, p
    {
        font-size: 0.875em;

    }
}

@media (min-width: 1200px) {

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 1.5em;
    }
    label, span, p
    {
        font-size: 0.875em;

    }
}
